.page {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  gap: 2rem;
  position: relative;
  align-items: center;
  justify-content: center;
}

.image {
  width: 30rem;
  filter: brightness(0.6);
  border-radius: 50%;
  box-shadow: 1px 5px 5px rgb(0, 0, 0, 0.5);
}

.message_wrapper {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 1rem;
}

.title,
.message {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
}
