.loading {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
}

.gif {
  width: 140px;
  mix-blend-mode: darken;
}

.text {
  font-weight: 500;
  font-size: 1.1rem;
}