.main {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 2rem;
}

.title {
  margin: 1.5rem 2rem;
  font-size: 1.8rem;
  text-align: center;
}

.list {
  gap: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list > li {
  list-style: none;
}
