.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 280px;
  overflow: hidden;
}

.card:hover > .infos_wrapper {
  transform: translate(0, 0);
}

.card:hover > button {
  visibility: visible;
  opacity: 1;
}

.button {
  position: absolute;
  background-color: transparent;
  right: 0;
  border: none;
  display: flex;
  margin: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: opacity 400ms;
}

.icon {
  font-size: 25px;
  color: black;
}

.image {
  width: 100%;
  height: 100%;
}

.infos_wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.85);
  transform: translate(0, 100%);
  padding: 10px;
  gap: 10px;
  transition: transform 400ms;
}

.title {
  text-align: center;
}

.description {
  text-align: justify;

}